@import url("https://fonts.googleapis.com/css?family=Creepster&effect=fire-animation");

body, html {
  height: 100%;
  margin: auto;

}

body {
  background-image: url("images/halloweenbackground.jpg");
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  z-index: 0;
}

h1 {
  font-family: "Creepster", cursive;
  z-index: 2;
  font-size: 50px;
  letter-spacing: 0.2 rem;
  font-weight: lighter;
}

h2 {
  color: whitesmoke;
}

.btn {
  background-color: orangered;
  color: white;
  font-size: 16px;
  border: 10px;
  cursor: pointer;
  position:absolute;
  right: 50%;
  bottom: 5%;
}

.btn:hover {
  background-color: black;
}

/* letters */
span {
  color: whitesmoke;
  font-size: 3vmin;
  font-size: 4vmax;
}

/* coins */
img {
  width: 6vmin;
  width: 8vmax;
  height: auto;
}

