@import url('https://fonts.googleapis.com/css?family=Creepster&effect=fire-animation');
:root{
    padding: 0px;
    margin: 0px;
}

body{
    text-align: center;
}

h1{
    font-family: 'Creepster', cursive;
    z-index: 2;
    position: relative;
}

img{
    width: 100px;
    height: 100px;
    position: relative;
    z-index: 1;
}